body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 1rem;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

select {
    padding: 0.5rem;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#apiList {
    margin-top: 1rem;
}

h2 {
    margin: 0;
    color: #35424a;
}

p {
    margin: 0.5rem 0;
}

strong {
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        margin: 1rem;
        padding: 0.5rem;
    }

    select {
        font-size: 14px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 14px;
    }
}
